@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$p_x10: 10px;
$board-bg-color: #0079bf;
$common-element-bg :rgba(255,255,255, 0.24);
$column-bg-color: #ebecf0;
$board-column-header-height: 46px;
$board-column-footer-height: 46px;
$board-column-border-radius: 5px;
$card-border-radius: 4px;
